.App {
    height: 100vh;
    
    display: block;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    height: auto;
    width: 25vw;
    border-radius: 10px;
}

.background {
    opacity: 0.6;
    height: 100%;
    background-image: url('/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.green {
    color: green;
    text-shadow: 5px 5px 5px 5px black;
    
}

.red {
    color: red
}